.header__menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: center;

  .header__menu-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .header__nav {
      position: relative;

      .header__menu {
        display: none;
      }

      @media (min-width: 1024px) {
        .header__menu {
          position: relative;
          display: flex;
          flex-direction: row;

          color: var(--global-menu-font-color);
          text-decoration: none;
          list-style: none;
          margin: 0;
          padding: 0;

          .header__menu-item {
            margin-right: 50px;
            .header__menu-link {
              text-decoration: none;
              font-family: var(--global-menu-font-family);
              font-size: var(--global-menu-font-size);
              color: var(--global-menu-font-color);
            }
            .header__menu-link:hover {
              background: var(--global-menu-hover-color);
            }
            .header__menu-link:active {
              background: var(--global-menu-active-color);
            }
          }

          .header__menu-item:last-child {
            margin-right: 0px;
          }
        }
      }
    }

    .header__logo-desktop {
      display: none;
    }

    @media (min-width: 1024px) {
      .header__logo-desktop {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: 20px;

        .header__logo-img {
          min-width: 30%;
          max-width: 75%;
        }
      }
    }
    .header__socials {
      .header__social-list {
        display: none;
      }

      @media (min-width: 1024px) {
        .header__social-list {
          text-decoration: none;
          list-style: none;
          padding: 0;
          position: relative;
          display: flex;
          flex-direction: row;
          gap: 24px;
          .header__social-item {
            min-width: 25%;
          }
        }

        .header__social-item:hover {
          background: var(--global-menu-hover-color);
        }
        .header__social-item:active {
          background: var(--global-menu-active-color);
        }
      }
    }
  }
}
