<section id="price" class="pricing">
  <div class="pricing__container container">
    <div class="pricing__intro">
      <h2 class="pricing__intro-title">Pricing</h2>
      <p class="pricing__intro-text">
        Most calendars are designed for teams.
        <span class="pricing__intro-item2">
          Slate is designed for freelancers
        </span>
      </p>
    </div>

    <ul class="pricing__list-cards">
      <li class="pricing__item-card">
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="pricing.card-free.partial.html"
        ></div>
      </li>
      <li class="pricing__item-card">
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="pricing.card-standard.partial.html"
        ></div>
      </li>
      <li class="pricing__item-card">
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="pricing.card-business.partial.html"
        ></div>
      </li>
    </ul>
  </div>
</section>
