<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business landing</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Scripts -->
    <script src="./js/htmx.min.js"></script>
  </head>
  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.header-hero.partial.html"
    ></header>

    <main>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-features.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-organize.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-newslatter.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-partners.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-testimonials.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-pricing.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-conatct-us.partial.html"
      ></div>
    </main>

    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.footer.partial.html"
    ></footer>
  </body>
</html>
