.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../img/header-background.jpg);

  background-size: cover;
  background-position: center;

  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);

  .header__hero {
    .header__menu-wrapper {
      display: none;
    }

    .header__top {
      max-width: var(--container-max-width);
      height: 100%;
      margin: 0 auto;
      padding: 0 0.1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header__logo {
        .header__logo-img {
          max-width: 200px;
          height: auto;
          padding: 8px;
        }
      }

      .header__burger {
        /* display: none; */
        background: none;
        border: none;
        cursor: pointer;
        padding: var(--spacing-xs);
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
        z-index: 101;
      }

      .header__burger-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: var(--transition-speed);
        position: absolute;
        left: 0;
        transform-origin: center;
      }

      .header__burger-line:nth-child(1) {
        transform: translateY(-8px);
      }
      .header__burger-line:nth-child(2) {
        transform: translateY(0);
      }
      .header__burger-line:nth-child(3) {
        transform: translateY(8px);
      }

      .header__nav {
        z-index: 100;
        display: flex;
        align-items: center;
        position: fixed;
        /* top: var(--header-height); */
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--color-background);
        overflow: hidden;
        transition: height var(--transition-speed);
        display: block;
      }

      .header__menu {
        margin-top: 8rem;
        display: flex;
        list-style: none;
        flex-direction: column;
        padding: var(--spacing-md);
        gap: var(--spacing-sm);
        opacity: 0;
        transition: opacity var(--transition-speed);
        gap: var(--spacing-md);
      }

      .header__menu-item {
        width: 100%;
        text-align: center;
      }

      .header__menu-link {
        display: block;
        padding: var(--spacing-sm) 0;
        color: var(--color-text);
        text-decoration: none;
        font-family: var(--global-desktop-font);
        font-size: 1.5rem;
        font-weight: 500;
        transition: color var(--transition-speed);
      }

      .header__menu-link:hover {
        color: var(--color-primary);
      }

      /* Mobile menu open state */
      .header__nav.is-open {
        /* height: calc(100vh - var(--header-height)); */
        height: 100vh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .header__logo {
          display: none;
        }
      }

      .header__nav.is-open .header__menu {
        opacity: 1;
      }

      /* Burger animation */
      .header__burger.is-active .header__burger-line:nth-child(1) {
        transform: translateY(0) rotate(45deg);
      }

      .header__burger.is-active .header__burger-line:nth-child(2) {
        opacity: 0;
      }

      .header__burger.is-active .header__burger-line:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
      }
    }

    .header__actions {
      position: relative;
      z-index: 1;
      margin-top: 2rem;
      margin-bottom: 5rem;
      display: flex;

      flex-direction: row;
      align-items: center;
      justify-self: center;
      gap: 12px;
      transform: scale(0.7);

      .header__actions-desktop {
        display: none;
      }
    }

    .header__intro {
      margin-top: 5rem;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      .header__title {
        color: var(--hero-text-color);
        font-family: var(--hero-mobile-font);
        font-size: var(--hero-mobile-title-font-size);
        line-height: var(--hero-mobile-line-height);
        letter-spacing: var(--hero-mobile-letter-spacing);
        font-weight: var(--hero-mobile-font-weight);
        text-align: center;
        max-width: 12ch;
      }

      .header__text {
        color: var(--hero-text-color);
        font-family: var(--hero-mobile-font);
        font-size: var(--hero-mobile-subtitle-font-size);
        line-height: var(--hero-mobile-line-height);
        letter-spacing: var(--hero-mobile-letter-spacing);
        font-weight: var(--hero-mobile-font-weight);
        text-align: center;
        max-width: 18ch;
        /* margin-top: var(--hero-mobile-subtitle-margin); */
        padding: var(--global-mobile-subtitle-padding);

        .header__text-item2 {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .header__hero {
      .header__menu-wrapper {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .header__menu-container {
          .header__menu-desktop {
            position: relative;
            display: flex;
            flex-direction: row;

            color: var(--global-menu-font-color);
            text-decoration: none;
            list-style: none;
            margin: 0;
            padding: 0;

            .header__menu-item-desktop {
              margin-right: 50px;
              .header__menu-link {
                text-decoration: none;
                font-family: var(--global-menu-font-family);
                font-size: var(--global-menu-font-size);
                color: var(--global-menu-font-color);
              }

              .header__menu-link:hover {
                text-decoration: underline;
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
              }

              .header__menu-link:active {
                color: var(--generic-button-color);
              }
            }

            .header__menu-item:last-child {
              margin-right: 0px;
            }
          }

          .header__social-item:hover {
            background: var(--global-menu-hover-color);
          }

          .header__social-item:active {
            background: var(--global-menu-active-color);
          }
        }
        .header__logo-desktop {
          position: relative;
          margin: 0;
          padding: 0;
          display: flex;
          margin-left: 20px;

          .header__logo-img {
            min-width: 30%;
            max-width: 75%;
          }
        }

        .header__social-list {
          text-decoration: none;
          list-style: none;
          padding: 0;
          position: relative;
          display: flex;
          flex-direction: row;
          gap: 24px;
          .header__social-item {
            min-width: 25%;
          }
        }
      }

      .header__top {
        .header__burger,
        .header__logo {
          display: none;
        }
      }

      .header__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        .header__actions-desktop {
          display: block;
        }
        .header__actions-mobile {
          display: none;
        }
      }

      .header__intro {
        .header__title {
          margin-top: 5rem;
          color: var(--hero-text-color);
          font-family: var(--hero-desktop-font);
          font-size: var(--hero-desktop-title-font-size);
          line-height: var(--hero-desktop-line-height);
          letter-spacing: var(--hero-desktop-letter-spacing);
          font-weight: var(--hero-desktop-font-weight);
          text-align: center;
          max-width: 15ch;
        }
        .header__text {
          color: var(--hero-text-color);
          font-family: var(--hero-desktop-font);
          font-size: var(--hero-desktop-subtitle-font-size);
          line-height: var(--hero-desktop-line-height);
          letter-spacing: var(--hero-desktop-letter-spacing);
          font-weight: var(--hero-desktop-subtitle-font-weight);
          text-align: center;
          max-width: 42ch;
          /* margin-top: var(--hero-mobile-subtitle-margin); */
          padding: var(--global-desktop-subtitle-padding);

          .header__text-item2 {
            display: inline;
          }
        }
      }
    }
  }
}
