.newslatter {
  position: relative;

  .newslatter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .newslatter__picture-desktop {
      display: none;
    }

    .newslatter__intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;

      .newslatter__intro-text {
        margin-top: var(--global-mobile-subtitle-margin);
        font-family: var(--global-mobile-font);
        font-size: 1rem;
        font-weight: 700;
        color: var(--global-mobile-font-color);
        text-align: center;
        max-width: 18ch;
      }

      .newslatter__intro-title {
        font-family: var(--global-mobile-font);
        font-size: var(--global-mobile-font-title-size);
        color: var(--global-mobile-font-color);
        text-align: center;
        padding-top: 1rem;
      }

      .newslatter__intro-title-desktop {
        display: none;
      }

      .newslatter__intro-subtitle {
        font-family: var(--global-mobile-font);
        font-size: var(--global-mobile-font-subtitle-size);
        color: var(--global-mobile-font-color);
        text-align: center;
        max-width: 18ch;
        padding: var(--global-mobile-subtitle-padding);

        .newslatter__text-item2 {
          padding-top: 15px;
        }
      }
    }
  }

  .newslatter__form-wrapper {
    margin-top: var(--global-mobile-subtitle-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .newslatter__form-title,
    .newslatter__form-text {
      font-family: var(--global-mobile-font);
      font-size: 1rem;
      color: var(--global-mobile-font-color);
      text-align: center;
      text-decoration: solid;
    }

    .newslatter__form-input {
      font-family: var(--global-mobile-font);
      font-size: 1rem;

      margin-top: 20px;
      margin-bottom: 10px;
      border: 3px solid #ccc;
      width: 100%;
      height: 45px;

      border-radius: 50px;
    }

    .newslatter__form-input::placeholder {
      font-family: var(--global-mobile-font);
      font-size: 1rem;
      text-align: center;
    }

    .newslatter__form-button {
      height: 45px;
      font-size: 1rem;
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    .newslatter__container {
      margin-top: var(--global-desktop-margin);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 12px;

      .newslatter__picture-desktop {
        display: block;
        margin-right: 5%;
      }

      .newslatter__intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;

        .newslatter__intro-text {
          text-align: left;
        }
        .newslatter__intro-title-desktop {
          display: block;
          font-family: var(--hero-desktop-font);
          font-size: var(--global-desktop-font-title-size);
          font-weight: var(--global-desktop-font-weight);
          color: var(--global-desktop-font-color);
          text-align: left;
        }

        .newslatter__form-wrapper {
          margin-top: 1rem;
          .newslatter__form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 12px;

            .newslatter__form-title,
            .newslatter__form-text {
              font-family: var(--global-mobile-font);
              font-size: 1rem;
              color: var(--global-mobile-font-color);
              text-align: left;
              text-decoration: solid;
            }

            .newslatter__input-container {
              width: 165%;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 12px;

              .newslatter__form-button {
                width: 50%;
                margin-top: 20px;
                margin-bottom: 10px;
              }
            }
          }
        }

        .newslatter__picture,
        .newslatter__intro-title,
        .newslatter__intro-subtitle {
          display: none;
        }
      }
    }
  }
}
